extends layout

block content
  include nav
  // Page Content
  .container
    // Page Heading
    .row
      .col-lg-12
        h1.page-header
          | Page Heading
          small Secondary Text
    each val in trainings
      .row
        .col-md-7
          a(href='#')
            img.img-responsive(src='http://placehold.it/700x300', alt='')
        .col-md-5
          h3 #{moment(val['date']).format('DD-MM-YY')}
          h4 #{val.type}
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
          a.btn.btn-primary(href='/training/#{val._id}')
            | Details
            //span.glyphicon.glyphicon-chevron-right
      hr
    // Pagination
    .row.text-center
      .col-lg-12
        ul.pagination
          - for (var i=1; i<= pageContext.pages; i++)
            if pageContext.curPage == i
              li.active
                a(href='/?page=' + i)= i
            else
              li.inactive
                a(href='/?page=' + i)= i
    hr
    // Footer
    footer
      .row
        .col-lg-12
          p Copyright © Your Website 2014
      // /.row
  // /.container
  // jQuery
  script(src='js/jquery.js')
  // Bootstrap Core JavaScript
  script(src='js/bootstrap.min.js')